{% extends 'base.html' %}

{% block title %}List of groups{% endblock %}

{% block content %}
{#    <a href="/groups/create/">Create group</a>#}
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>Description</th>
                <th>Update</th>
            </tr>
        <thead>
        <tbody>
        {% for gr in groups %}
            <tr>
                <td><a href="{% url 'groups:detail' gr.pk %}">{{ gr.name }}</a></td>
                <td>{{ gr.start }}</td>
                <td>{{ gr.description }}</td>
                <td><a href="{% url 'groups:update' gr.pk %}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}