{% extends 'base.html' %}

{% block title %}List of groups{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Headman</th>
                <th>Course</th>
                <th class="text-center"><i class="bi bi-pencil-fill"></i></th>
                <th class="text-center"><i class="bi bi-trash3-fill"></i></th>
            </tr>
        <thead>
        <tbody>
        {% for gr in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'groups:detail' gr.pk %}">{{ gr.name }}</a></td>
                <td>{{ gr.start }}</td>
                <td>{{ gr.end }}</td>
                <td>{% if gr.headman %}{{ gr.headman.first_name }} {{ gr.headman.last_name }}{% endif %}</td>
                <td>{% if gr.course %}{{ gr.course.name }}{% endif %}</td>
                <td class="text-center" id="col-edit"><a class="btn btn-outline-primary btn-sm" href="{% url 'groups:update' gr.pk %}">Edit</a></td>
                <td class="text-center" id="col-del"><a class="btn btn-outline-danger btn-sm" href="{% url 'groups:delete' gr.pk %}">Remove</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}