{% extends 'base.html' %}

{% block title %}Detail of teacher{% endblock %}

{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col align-self-center">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ teacher.first_name }} {{ teacher.last_name }}</h5>
                    <p class="card-text">{{ teacher.birthday|date:"d M Y" }}</p>
                    <p class="card-text">{{ teacher.salary }}$</p>
                    <a href="{% url 'teachers:update' teacher.pk %}" class="btn btn-outline-primary">Edit</a>
                    <a href="{% url 'teachers:list' %}" class="btn btn-outline-primary">Back to list</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}